body
{
  background-color:#CDF0EA ;
   font-family: cursive;
}
hr
{

   border-style : none;
   height :0px ;
   width : 5%;
   border-style:node;
   border-width:5px;
   border-color:grey;
   border-top-style: dotted;
}
h1
{
  color :#01937C;
   font-family: cursive;
}
h3
{
color : #01937C;
font-family: cursive;
}
h4
{
  color : #01937C;
  font-family: cursive;

}
